.jumbotron img{
    width: 400px ;
   
}

.jumbotron{
    text-align: center;
    font-family: 'Courier';
    
}

.judul{
    text-align: center;
    min-width: 600px;
}

.judul hr{
    width: 100px;
    border: solid maroon;
    
}

